<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{resetPassword.title}">JiraRush - установить новый пароль</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<p th:text="#{resetPassword.greeting(${user.firstName})}">Привет, подожди с этим</p>
<p th:text="#{resetPassword.message(${user.email})}">Мы получили запрос на установку нового пароля JiraRush для учетной записи: user@example.com.</p>
<a th:href="${resetUrl}" th:text="#{resetPassword.linkText}">Установить пароль</a>
</body>
</html>